# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Log files
*.log

# Cache files
*.cache

# htaccess
/.htaccess

vendor/*